[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pylint = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
requests = {extras = ["socks"], version = "*"}

[requires]
python_version = "3.7"
